<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonsterGroup</key>
	<dict>
		<key>Monster</key>
		<dict>
			<key>Sort</key>
			<string>Monster</string>
			<key>Luck</key>
			<integer>40</integer>
			<key>DF</key>
			<integer>10</integer>
			<key>AT</key>
			<integer>50</integer>
			<key>Class</key>
			<string>Knight</string>
			<key>Costume</key>
			<string>Archer</string>
			<key>PositionX</key>
			<integer>200</integer>
			<key>PositionY</key>
			<integer>100</integer>
			<key>SP</key>
			<integer>1</integer>
			<key>SearchRange</key>
			<integer>180</integer>
			<key>AttackRange</key>
			<integer>100</integer>
			<key>HP</key>
			<integer>200</integer>
			<key>EXP</key>
			<integer>10</integer>
		</dict>
		<key>Monster - 2</key>
		<dict>
			<key>Sort</key>
			<string>Monster</string>
			<key>Luck</key>
			<integer>40</integer>
			<key>DF</key>
			<integer>10</integer>
			<key>AT</key>
			<integer>50</integer>
			<key>Class</key>
			<string>Archer</string>
			<key>Costume</key>
			<string>Archer</string>
			<key>PositionX</key>
			<integer>-200</integer>
			<key>PositionY</key>
			<integer>100</integer>
			<key>SP</key>
			<integer>1</integer>
			<key>SearchRange</key>
			<integer>300</integer>
			<key>AttackRange</key>
			<integer>300</integer>
			<key>HP</key>
			<integer>200</integer>
			<key>EXP</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Player</key>
	<dict>
		<key>Luck</key>
		<integer>40</integer>
		<key>DF</key>
		<integer>10</integer>
		<key>AT</key>
		<integer>300</integer>
		<key>Sort</key>
		<string>Player</string>
		<key>Costume</key>
		<string>RedSwan</string>
		<key>SP</key>
		<integer>3</integer>
		<key>HP</key>
		<integer>500</integer>
	</dict>
</dict>
</plist>
